<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="./css/products.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500;9..40,700&family=Mulish:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/product.css" />
  </head>
  <body>
    <!-- HEADER TO FILL -->
    <nav>
      <h2 id="logo">Imann</h2>

      <ul>
        <li>
          <a href="{{ url_for('home') }}">Home</a>
        </li>

        <li>
          <a href="#about">About us</a>
        </li>

        <li>
          <a href="{{ url_for('shop') }}">Shop</a>
        </li>

        <li>
          <a href="">Members</a>
        </li>
      </ul>
    </nav>

    <main>
      <section id="section__one">
        <div class="container">
          <h2>ORDER</h2>

          <h3>
            We deliver quality produce from our farm to your home, from our
            family to yours – with love. Our selection is seasonal, so get in
            touch if you want to find out what’s growing now.
          </h3>

          <button>Get in touch</button>
        </div>
      </section>

      <section id="section__two">
        <h2>OUR PRODUCTS</h2>
        <div class="container">
          <h3>Fruits & Veggies</h3>
            <!-- Loop through products and display them -->
            {% for product in products %}
            <div>
                <img src="{{ product['image_url'] }}" alt="{{ product['name'] }}" />
                <h4>{{ product['name'] }}</h4>
                <p>${{ product['price'] }}</p>
            </div>
            {% endfor %}
        </div>        
      </section>
      <section id="section_three"></section>
    </main>

    <!--FOOTER TO FILL-->
    <footer>
      <h2>The group members are:</h2>
    </footer>
  </body>
</html>